@using WebMaze.Models.HealthDepartment
@model List<ReceptionOfPatientsViewModel>

@using WebMaze.Services
@inject UserService userService

<body>
    <div class="form">
        <p class="form__header">Изменить дату записи</p>
        <form action="@Url.Action("EditThisUserDoctorsAppointments", "HDUserPage")" method="post">

            @foreach (var appointment in Model)
            {
                <input type="hidden" value="@appointment.Id" name="Id" />
                <input type="hidden" value="@appointment.EnrolledCitizenId" name="EnrolledCitizenId" />

                <div class="partial__input">
                    <div class="form__input">
                        <input type="datetime-local"/>
                    </div>
                </div>
            }

            <div>
                <button class="button" type="submit">Применить изменения</button>
                <button class="button" type="reset">Сбросить</button>
            </div>
        </form>
    </div>
</body>