@model WebMaze.Models.Certificate.CertificateItemViewModel[]

@foreach (var item in Model)
{
    <div>
        @item.Speciality
    </div>
    <div>
        @item.DateOfIssue.
    </div>
    <div>
        @item.Validity
    </div>
}