<h1>Students page</h1>
<ul>
    <li>
        <a class="nav-link text-dark" href="/Student/Index">Student</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Lvou">Lvou</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Mochalkin">Mochalkin</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Yessenturov">Yessenturov</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Kenzhebayev">Kenzhebayev</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Rudich">Rudich</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Proshutin">Proshutin</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Velinskiy">Velinskiy</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Srazhov">Srazhov</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Karayev">Karayev</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Yermolayev">Ермолаев</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Akhmetov">Akhmetov</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Shilnikov">Shilnikov</a>

    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Boris">Boris</a>

    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Batyrov">Batyrov</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Student/Maralov">Maralov</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Student/Samorukov">Samorukov</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Student/Saginbek">Saginbek</a>
    </li>
</ul>