@model List<GirlViewModel>

<div>
    Я молодец 2
</div>

@foreach (var girl in Model)
{
    <div>
        @girl.Name (@girl.Hegith)
    </div>
    @if (girl.Url != null)
    {
        <div>
            <img src="@girl.Url" />
        </div>
    }
}