@model List<InteriorViewModel>
<div class="interior-title">
    Trust professionals the comfort of your home
</div>
<div class="interior-description">
    Modern style interior for 104 sq. m. flat
</div>

<div class="interior-container">
    @foreach (var interior in Model)
    {
        <div class="interior-body">
            <div class="interior-description">
                @interior.StyleName
            </div>
            @if (interior.ImgUrl != null)
            {
                <div class="interior-image">
                    <img src="@interior.ImgUrl" />
                </div>
            }
            <div class="interior-area">
                @interior.Area sq. m.
            </div>

        </div>
    }
</div>
