@model List<SaginbekViewModel>


<div class="slideshow-container">

    @foreach (var game in Model)
    {
        <div class="mySlides">
            <img src="@game.GamePosterURL">
            <div class="text">
                <h3>
                    @game.GameDescription
                    <a class="button" href="@game.GameSteamURL">
                        Steam
                    </a>
                </h3>
            </div>
        </div>
    }

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
