@using WebMaze.Models.Bus


<div>
    <h2>Bus menu</h2>
    <li>
        <a class="nav-link text-dark" href="/Bus/Index">Home</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Bus/ManageBus">Manage bus</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Bus/OrderBus">Order bus</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Bus/ManageWorker">ManageWorker</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Bus/ManageRouteTime">ManageRouteTime</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Bus/CreateRoute">CreateRoute</a>
    </li>
</div>