@using WebMaze.Models.Bus


<div>
    <h2>Bus menu</h2>
    <li>
        <a class="nav-link text-dark" href="/Bus/Index">Home</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/Bus/OrderBus">Order bus</a>
    </li>
</div>