@using WebMaze.Models.HealthDepartment

@model ListHospitalViewModel
    <!--Header-->
<div class="wrap-head">
    <div class="head">
        <div class="head__row">
            <div class="head__column head__column-1">
                <div class="head__element">
                    <p><a href="/HealthDepartment/HealthDepartment"><img src="~/image/Mochalkin/Logo.jpg" /></a></p>
                    <p><a href="/HDManager/ManagerPage"><img src="~/image/Mochalkin/Logo.jpg" /></a></p>

                </div>
            </div>
            <div class="head__column head__column-2">
                <div class="head__element">
                    <h1 class="section__title">Департамент здравоохранения</h1>
                </div>
            </div>
            <div class="head__column head__column-3">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="head__element">
                        <a href="/HealthDepartment/Logout" class="button btn-lg active" role="button" aria-pressed="true">Выход</a>
                    </div>
                }
                else
                {
                    <div class="head__element">
                        <a href="/HealthDepartment/Login" class="button btn-lg active" role="button" aria-pressed="true">Вход</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--Меню-->
<div class="menu">
    <naw class="dws-menu">
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="/HDUserPage/UserPage"><i class="fa fa-"></i>Моя страница</a>
                </li>
                <li>
                    <a href="/HDDoctorPage/DoctorPage"><i class="fa fa-"></i>Страница дока</a>
                </li>
                <li>
                    <a href="/HDManagerPage/ManagerPage"><i class="fa fa-"></i>Страница упра</a>
                </li>
                <li>
                    <a href="/HealthDepartment/HotLine"><i class="fa fa-"></i>Горячая линия</a>
                </li>
                <li>
                    <a href="/HealthDepartment/MedicineNews"><i class="fa fa-"></i>Новости</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-"></i>Организации</a>
                    <ul>
                        <li>
                            <a href="/HealthDepartment/GetListHospital">Поликлиники</a>
                        </li>
                        <li>
                            <a href="/HealthDepartment/GetListSchool">Образование</a>
                        </li>
                        <li>
                            <a href="/HealthDepartment/GetListMorgue">Морги</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/HealthDepartment/Contacts"><i class="fa fa-"></i>Контакты</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/HealthDepartment/HotLine"><i class="fa fa-"></i>Горячая линия</a>
                </li>
                <li>
                    <a href="/HealthDepartment/MedicineNews"><i class="fa fa-"></i>Новости</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-"></i>Организации</a>
                    <ul>
                        <li>
                            <a href="/HealthDepartment/GetListHospital">Поликлиники</a>
                        </li>
                        <li>
                            <a href="/HealthDepartment/GetListSchool">Образование</a>
                        </li>
                        <li>
                            <a href="/HealthDepartment/GetListMorgue">Морги</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/HealthDepartment/Contacts"><i class="fa fa-"></i>Контакты</a>
                </li>
            }
        </ul>
    </naw>
</div>

<!--Breadcrumb-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/HealthDepartment/HealthDepartment">Главная</a></li>
        <li class="breadcrumb-item" aria-current="page">Список больниц</li>
    </ol>
</nav>

<!--Content-->
<div class="block">
    <div block__row>
        <div class="block__element block__element-1">
            <div class="block__content">
                <h1> Список больниц </h1>
                <p>
                    <span style="font-family:arial,helvetica,sans-serif;">
                        <span style="font-size: 12px;">
                            <strong>
                                <a href="/HealthDepartment/Hospital1">
                                    <strong>
                                        1.Государственное областное медицинское учреждение №1
                                    </strong>
                                </a>
                            </strong>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-family:arial,helvetica,sans-serif;">
                        <span style="font-size: 12px;">
                            <strong>
                                <a href="/HealthDepartment/Hospital2">
                                    <strong>
                                        2.Государственное региональное медицинское учреждение №1
                                    </strong>
                                </a>
                            </strong>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-family:arial,helvetica,sans-serif;">
                        <span style="font-size: 12px;">
                            <strong>
                                <a href="/HealthDepartment/Hospital3">
                                    <strong>
                                        3.Частное медицинское учреждение
                                    </strong>
                                </a>
                            </strong>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-family:arial,helvetica,sans-serif;">
                        <span style="font-size: 12px;">
                            <strong>
                                <a href="/HealthDepartment/Hospital4">
                                    <strong>
                                        4.Специализированная офтольмологическая клиника
                                    </strong>
                                </a>
                            </strong>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-family:arial,helvetica,sans-serif;">
                        <span style="font-size: 12px;">
                            <strong>
                                <a href="/HealthDepartment/Hospital5">
                                    <strong>
                                        5.Онкологический областной центр
                                    </strong>
                                </a>
                            </strong>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-family:arial,helvetica,sans-serif;">
                        <span style="font-size: 12px;">
                            <strong>
                                <a href="/HealthDepartment/Hospital6">
                                    <strong>
                                        6.Родильный дом города Utopia
                                    </strong>
                                </a>
                            </strong>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-family:arial,helvetica,sans-serif;">
                        <span style="font-size: 12px;">
                            <strong>
                                <a href="/HealthDepartment/Hospital7">
                                    <strong>
                                        7.Многопрофильный центр наркологической реабилитации города Utopia
                                    </strong>
                                </a>
                            </strong>
                        </span>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

