@using WebMaze.Models.Department

@model HealthDepartmentViewModel

<head>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
</head>

<body class="health-department">
    
    <main>
        <div class="section">
            <div class="block">
                <div class="logo">
                    <p><a href="/HealthDepartment/HealthDepartment"><img src="~/image/Mochalkin/Logo.jpg" /></a></p>
                </div>
            </div>
            <div class="block">
                <h1 class="main-text">
                    Министерство здравоохранения
                </h1>
            </div>
            <div class="block">
                <div class="wrap-block">
                    <button class="button my-header-btn">
                        Запись на приём
                    </button>
                </div>
            </div>
        </div>
    </main>

    <div class="head">
        <naw class="dws-menu">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-"></i>Горячая линия</a>
                    <ul>
                        <li>
                            <a href="#">Горячая линия</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-"></i>Новости</a>
                    <ul>
                        <li>
                            <a href="#">Новости здравоохранения</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-"></i>Организации</a>
                    <ul>
                        <li>
                            <a href="#">Поликлиники</a>
                        </li>
                        <li>
                            <a href="#">Образование</a>
                        </li>
                        <li>
                            <a href="#">Морги</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-"></i>Общественная приёмная</a>
                    <ul>
                        <li>
                            <a href="#">Справочная система</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-"></i>Мероприятия</a>
                    <ul>
                        <li>
                            <a href="#">Все мероприятия</a>
                        </li>
                        <li>
                            <a href="#">Предстоящие мероприятия</a>
                        </li>
                        <li>
                            <a href="#">Прошедшие мероприятия</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-"></i>Контакты</a>
                    <ul>
                        <li>
                            <a href="#">Справочные телефоны</a>
                        </li>
                        <li>
                            <a href="#">Контакты для СМИ</a>
                        </li>
                        <li>
                            <a href="#">Контакты по вопросам замещения вакантных должностей</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </naw>
    </div>
    <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit,
        vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

    </p>

    <div class="foto">
        <div class="mainText">
            <h1>Галерея</h1>
        </div>
        <div class="fotorama" data-nav="thumbs" data-transition="crossfade" data-autoplay="true" data-width="100%" data-ratio="500/300">
            <img src="~/image/Mochalkin/Foto of doctors/1.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/2.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/3.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/4.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/5.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/6.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/7.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/8.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/9.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/10.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/11.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/12.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/13.jpg">
            <img src="~/image/Mochalkin/Foto of doctors/14.jpg">
        </div>
    </div>

</body>

