@model WebMaze.Models.HDManager.ManagerPageViewModel

<body>
    <h1>Страница менеджера</h1>

    <p>
        <a href="/HDManager/AddMedicineCertificate"><strong>1. Создать сертификат</strong></a>
    </p>
    <p>
        <a href=""><strong>2. Все сертификаты</strong></a>
    </p>
    <p>
        <a href=""><strong>3. Истекающие сертификаты</strong></a>
    </p>
    <p>
        <a href=""><strong>4. Количество врачей</strong></a>
    </p>
    <p>
        <a href=""><strong>5. Добавление нового врача</strong></a>
    </p>
    <p>
        <a href=""><strong>6. Проверка привитого населения</strong></a>
    </p>
    <p>
        <a href=""><strong>7. Проверка и одобрение заявок на гранты</strong></a>
    </p>
</body>