@{
    Layout = "_Layout";
}

@section Scripts{
    @RenderSection("Scripts", required: false)
}

<div class="breadcrumb-container">
    @RenderSection("BreadLink", required: true)
</div>

@RenderBody()