@model WebMaze.Models.Police.PolicemanViewModel
@{
    ViewBag.Title = "Полиция города";
}
<div class="current-user-container">
    @if (Model.ProfileVM != null)
    {
        <div class="text-md-right">
            <p class="font-weight-bold">
                Здравствуйте, вы авторизованы как:
            </p>
            <div class="d-flex flex-row-reverse">
                <div class="col-md-2">
                    <img src="@Model.ProfileVM.AvatarUrl" class="rounded img-fluid">
                </div>
                <div class="col-md-3">
                    @Model.ProfileVM.Login
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-md-right">
            <p class="text-danger">
                Внимание, вы не авторизовались. <br />
                Для получения доступа, пожалуйста, войдите или создайте новый аккаунт:
            </p>
            <a class="col-md-2" asp-controller="Police" asp-action="Login" asp-route-login="1">Войти</a> |
            <a class="col-md-2" asp-controller="Police" asp-action="Login" asp-route-login="0">Создать аккаунт</a>
        </div>
    }
</div>
<br />
<h2>Текущие пользователи, не являющиеся полицейскими:</h2>
<div class="users-container">
    <div class="container-fluid">
        <table class="table table-condensed table-striped table-hover col-md-12">
            <thead>
                <tr class="d-flex">
                    <th class="col-10">Логин</th>
                    <th class="col-2">Фото</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CitizenUserProfiles)
                {
                    <tr class="d-flex">
                        <td class="col-10">@item.Login</td>
                        <td class="col-2"><img src="@item.AvatarUrl" class="rounded img-fluid" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
