@model WebMaze.Models.Police.PolicemanViewModel
@{
    Layout = "_PoliceLayout.cshtml";
    ViewBag.Title = "Полиция города";
}

<br />
<h2>Текущие пользователи, не являющиеся полицейскими:</h2>
<div class="users-container">
    <div class="container-fluid">
        <table class="table table-condensed table-striped table-hover col-md-12">
            <thead>
                <tr class="d-flex">
                    <th class="col-10">Логин</th>
                    <th class="col-2">Фото</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CitizenUserProfiles)
                {
                    <tr class="d-flex">
                        <td class="col-10">@item.Login</td>
                        <td class="col-2"><img src="@item.AvatarUrl" class="rounded img-fluid" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
