@model WebMaze.Models.Police.PolicemanViewModel
@{
    ViewBag.Title = "Регистрация полицейского";
}
@if (Model.ProfileVM == null)
{
    <h2>Выберите пользователя, которому хотите присвоить статус полицейского: </h2>
}
else
{
    <h2>Выберите аккаунт для входа:</h2>
}

<div class="container-fluid">
    <table class="table table-condensed table-striped table-hover col-md-12">
        <thead>
            <tr class="d-flex">
                <th class="col-8">Логин</th>
                <th class="col-2">Фото</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CitizenUserProfiles)
            {
                <tr class="d-flex">
                    <td class="col-8">@item.Login</td>
                    <td class="col-2"><img src="@item.AvatarUrl" class="rounded img-fluid" /></td>
                    <td class="col-2 text-md-right">
                        <a asp-controller="Police" asp-action="RegisterPoliceman" asp-route-id="@item.Id">Выбрать</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>