<div>
    Я начальная страница
</div>
<body>
    <div class="section">
        <div class="container">
            <div class="row">
                @*для вставки своей картинки, копировать отсюда*@
                <div class="col-4 col-sm-3 col-md-1 text-center">
                    <a href="/HealthDepartment/HealthDepartment"><img src="~/image/Mochalkin/Logo.jpg" class="rounded img-fluid" /></a>
                    <figcaption>Медицина</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center">
                    <a href="/Police/Index"><img src="~/image/Police/police_main_logo.png" class="rounded img-fluid" /></a>
                    <figcaption>Полиция</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center">
                    <a href="/UserTasks/Index"><img src="~/image/Shared/UserTasks.png" class="rounded img-fluid" /></a>
                    <figcaption>Задачи</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center">
                    <a href="/Roles/Index">Roles</a>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center">
                    <a href="/Certificates/Index">Certificates</a>
                </div>
            </div>
        </div>
    </div>
</body>