<div>
    Я начальная страница
</div>
<body>
    <div class="section">
        <div class="container">
            <div class="row">
                @*для вставки своей картинки, копировать отсюда*@
                <div class="test col-lg-1">
                    <div class="test d-inline-block">
                        <p><a href="/HealthDepartment/HealthDepartment"><img src="~/image/Mochalkin/Logo.jpg" /></a></p>
                        <figcaption>Медицина</figcaption>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>