/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.league_champion {
    background: #2c5c54;
    color: #d0bdad;
}

.league_champion_img {
    width: 80%;
    height: 80%;
}

.league_champion_stats {
    background: #3c3c3c;
    color: #c4c4c4;
}

.league_champion_text {
    font-weight: bold; 
}

.league_champion_text_bio {
    font-weight: bold; 
    font-style: italic;
    font-size: 0.8em;
}

.league_champion_statbar {
    width: 100%;
}

.league_champion_stats_health {
    color: lawngreen;
}

.league_champion_stats_mana {
    color: lightblue;
}

.league_champion_stats_energy {
     color: yellow;
}

.league_champion_stats_damage {
    color: orangered;
}

.header {
    background: #1b6ec2;
    font-size: 30px;
}

.card-gwent {
    background: url(https://legion.lenovo.com/assets/images/picture/XodPQ28fltOE5WLt.png) no-repeat;
    float: left;
    width: 45%;
    height: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white;
    font-family: GwentFont;
}

.leftimg {
    float: left;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
    width: 180px;
    height: 260px;
}

.innerCard {
    margin-top: 4%;
    margin-right: 4%;
}

@font-face {
    font-family: 'GwentFont';
    src: url(https://www.playgwent.com/fonts/hinted-GWENT-ExtraBold.ttf);
}

.centr {
    text-align: center;
}

.country {
    width: 32%;
}

.country_flag {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*  Был удален М. Сражовым 
    Потому что портил другой, дефолтный .card.
    Просьба, не использовать дефолтные имена для стилей
    Ну или переместить их в свой файл

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}*/

.price {
    color: grey;
    font-size: 22px;
}
/*

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}*/

.alert {
    padding: 20px;
    background-color: green;
    color: white;
}

.student-names{
    color: red;
    font-size: 30px;
}

.girls-container {
    display: flex;
    flex-wrap: wrap;
}

.girl {
    border: 1px red solid;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
}

.girl-name{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.girls-container .girl img {
    max-width: 200px;
    max-height: 200px;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.beverage-table-head {
    text-align: center;
    background-color: #ffc107;
}

.beverage-table-body {
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 8px;
}

.beverage-table-price {
    background-color: #dea80a;
    text-align: right;
}

.bootstrap_card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.table-heroes {
    border: 3px black solid;
    text-align-last: center;
}
.text-heroes {
    font: italic bold ;
    color: darkred;
}
.image-heroes {
    max-width: 200px;
    max-height: 200px;
}

.maze-row {
    display: flex;
    flex-direction: row;
}

.maze {
    margin: 50px;
}

.cell {
    width: 25px;
    height: 25px;
}

    .cell.coin {
        background-color: lightcyan;
        position: relative;
    }

        .cell.coin::after {
            display: block;
            position: absolute;
            content: "";
            border-radius: 50%;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            background-color: gold;
            transform: translate(-50%, -50%);
        }

        .cell.coin:hover::after {
            transform: translate(-50%, -50%) rotateY(180deg);
            transition: transform 200ms linear;
        }

    .cell.ground {
        background-color: lightcyan;
    }

    .cell.wall {
        background-color: blueviolet;
    }

    .cell.hero {
        background-color: green;
    }

.interior-title {
    font-family: 'French Script MT';
    font-size: 65px;
    color: white;
    text-align: center;
    background-color: #d0bdad;
    margin-bottom: 20px;
    margin-top: 30px;
}

.interior-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px #d0bdad solid;
    width: 360px;
    height: 380px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.interior-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.interior-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .interior-container .interior-body img {
        max-width: 350px;
        max-height: 350px;
    }

.interior-description {
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    font-family: 'Goudy Old Style';
    font-size: 25px;
    justify-content: center;
    font-weight: bold;
}

.interior-body {
    display: flex;
    font-family: 'Goudy Old Style';
    font-size: 22px;
    text-align: end;
    box-shadow: 1px 1px 1px 1px #d0bdad;
}

.games_name {
    color: white;
    font-size: 30px;
    padding-top: 280px;
}

#genre {
    padding-top: 0px;
    font-size: 22px
}

.games_card {
    max-width: 700px;
    max-height: 400px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: 100%, 250%;
}

.shrek-container {
    display: flex;
    flex-wrap: wrap;
}

.shrek {
    border: 5px green solid;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

.shrek-name {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.shrek-container .shrek img {
    max-width: 150px;
    max-height: 150px;
}

.shrek-page-title {
    background: green;
    font-size: 30px;
}

.avatar img {
    max-width: 200px;
    max-height: 200px;
}

.font-underline {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700!important;
}

.bg-darker {
    background-color: #212529;
}

.invalid-validation .field-validation-error {
    font-size: inherit!important;
    color: inherit!important;
}

.form-control-off {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-validation-error {
    border-color: red;
}

.field-validation-error{
    font-size: 50px;
    color: #1acd88;
}



















